<div id="formContainer" class="card-body">
    <h5 class="card-title text-center">Создание нового пароля</h5>
    <form class="form-signin">
        {% csrf_token %}
        <input id="hidden_phone_number" type="hidden" name="phone_number" value="{{ phone_number }}">
        <div class="form-label-group">
            <input type="password" id="password1" class="form-control" name="password1"
                   placeholder="Пароль" required autofocus>
            <label for="password1">Пароль</label>
        </div>

        <div class="form-label-group">
            <input type="password" id="password2" class="form-control" name="password2"
                   placeholder="Подтвердить пароль" required autofocus>
            <label for="password2">Подтвердить пароль</label>
        </div>

        <button class="btn btn-lg btn-primary btn-block text-uppercase" id="confirmPassword"
                type="button">Подтвердить</button>
    </form>
</div>